In [1]:
import pandas as pd
import os
import shutil

In [2]:
df = pd.read_csv('processed_data_ham.csv')

In [3]:
df

,Name,Family_History,Patient_History,Patient_Sex,Patient_Age,Melanoma
0,ISIC_0009868,False,False,female,70.0,True
1,ISIC_0009869,False,True,female,40.0,False
2,ISIC_0009870,False,True,female,40.0,False
3,ISIC_0009871,False,False,male,45.0,False
4,ISIC_0009872,False,False,female,50.0,False
...,...,...,...,...,...,...
1456,ISIC_0011398,False,False,female,50.0,False
1457,ISIC_0011399,False,False,male,85.0,True
1458,ISIC_0011400,False,False,female,50.0,False
1459,ISIC_0011402,False,False,male,20.0,False
1460,ISIC_0024262,False,False,male,55.0,False

In [12]:
c=0
root='ISIC_all'
for path, subdirs, files in os.walk(root):
    for name in files:
        file_path = os.path.join(path, name)
        x = name[:-5]
        if(x in list(df['Name'])):
            c=c+1
            shutil.copy(file_path, 'ISIC_selected')

In [13]:
c

1460