In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('metadata_isic.csv')
df.shape

C:\Users\aparg\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,13,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(69445, 29)

In [3]:
# df=df.dropna(axis=0,subset=list(df.columns[1:]),how='all')
# df=df.dropna(axis=1,how='all')
# df.shape

In [4]:
df=df[['meta.clinical.family_hx_mm','meta.clinical.personal_hx_mm','meta.clinical.sex','meta.clinical.age_approx','meta.clinical.diagnosis']]
df.columns=['Family_History','Patient_History','Patient_Sex','Patient_Age','Melanoma']

In [5]:
df

      Family_History Patient_History Patient_Sex  Patient_Age  Melanoma
0                NaN             NaN      female         55.0     nevus
1                NaN             NaN      female         30.0     nevus
2                NaN             NaN      female         60.0  melanoma
3                NaN             NaN        male         30.0     nevus
4                NaN             NaN        male         80.0  melanoma
...              ...             ...         ...          ...       ...
69440            NaN             NaN        male         50.0       NaN
69441            NaN             NaN         NaN          NaN       NaN
69442            NaN             NaN        male         20.0       NaN
69443            NaN             NaN        male         50.0       NaN
69444            NaN             NaN        male         45.0     nevus

[69445 rows x 5 columns]

In [6]:
df = df.dropna(how='any')

In [7]:
df['Melanoma']=df['Melanoma'].apply(lambda x:'False' if x!='melanoma' else 'True')

<ipython-input-7-6cc1b1bdbbd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Melanoma']=df['Melanoma'].apply(lambda x:'False' if x!='melanoma' else 'True')

In [8]:
df = df.drop_duplicates()

In [9]:
df = df.reset_index(drop=True)

In [10]:
df.shape

(189, 5)

In [11]:
df.head()

  Family_History Patient_History Patient_Sex  Patient_Age Melanoma
0          False           False      female         70.0     True
1          False            True      female         40.0    False
2          False           False        male         45.0    False
3          False           False      female         50.0    False
4          False            True      female         30.0    False

In [12]:
df.to_csv('processed_data_isic.csv',index=False)